<?xml version="1.0"?>
<launch>

<arg name="nodelet_manager" default="PF_nodelet_manager" />

<node pkg="nodelet" type="nodelet" name="$(arg nodelet_manager)" args="manager" output="screen"/>

  <!-- prefiltering_nodelet -->
  <node pkg="nodelet" type="nodelet" name="particle_filter_localization_nodelet" args="load particle_filter/ParticleFilterLocalizationNodelet $(arg nodelet_manager)">
  </node>
</launch>